@import url('https://fonts.googleapis.com/css?family=Comfortaa|Fascinate+Inline|Limelight|Molengo|Pacifico|Poppins|Raleway+Dots|Rammetto+One');
@import url("https://fonts.googleapis.com/css?family=Courgette|Julius+Sans+One|Poiret+One|Righteous");
$window-titleTextSize:4rem;
$mobile-titleTextSize:6rem;
$window-subTitleTextSize:1.5rem;
$window-infoTextSize:1rem;
$portfolioMenuitemBackground:#4c4c70;
$porfolioMenuItemTitle:#05E9FF;
$resumeMenuitemBackground:#191947;
$resumeMenuItemTitle:#05E9FF;
$main-font-family:'Limelight', cursive;
$main-blue-background:#000033;
